{% load static from staticfiles %}

<header class="header">
    <div class="top-bar container-fluid">
        <div class="actions">
            <a class="btn hidden-xs" href="mailto:{{ active_user.email }}">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                Hire Me
            </a>
            <a class="btn" href="https://drive.google.com/open?id=0B0EjyUUYrTXgTDQ2SXRZWDJIMVE">
                <i class="fa fa-download" aria-hidden="true"></i>
                Download My Resume
            </a>
        </div><!--//actions-->

        {% include 'social-icons.html' %}

    </div><!--//top-bar-->

    <div class="intro">
        <div class="container text-center">
            <img class="profile-image" src="{% static 'img/avatar.png' %}" alt="">
            <h1 class="name">{{ active_user.get_full_name }}</h1>
            <div class="title">{{ active_user.profile.title }}</div>
            <div class="profile">
                <p>{{ active_user.profile.information }}</p>
            </div><!--//profile-->
        </div><!--//container-->
    </div><!--//intro-->

    <div class="contact-info">
        <div class="container text-center">
            <ul class="list-inline">
                <li class="email">
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:{{ active_user.email }}">{{ active_user.email }}</a>
                </li>
            </ul>
        </div><!--//container-->
    </div><!--//contact-info-->

    <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="nav page-nav list-inline">
                    {% if active_user.experiences.exists %}
                        <li class="">
                            <a class="scrollto" href="#experiences-section">Experiences</a>
                        </li>
                    {% endif %}

                    {% if active_user.profile.educations.exists %}
                        <li class="">
                            <a class="scrollto" href="#education-section">Education</a>
                        </li>
                    {% endif %}

                    <li class="">
                        <a class="scrollto" href="#skills-section">Skills</a>
                    </li>

                    {% if active_user.profile.testimonials.exists %}
                        <li class="">
                            <a class="scrollto" href="#testimonials-section">Testimonials</a>
                        </li>
                    {% endif %}

                    <li class="">
                        <a class="scrollto" href="#contact-section">Contact</a>
                    </li>
                </ul><!--//page-nav-->
            </div>
        </div><!--//page-nav-wrapper-->
    </div>
</header><!--//header-->
