{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
    {{ active_user.get_full_name }} - {{ active_user.profile.title }}
{% endblock title %}

{% block container %}
    {% include 'header.html' %}

    <div class="wrapper container">
        <section id="experiences-section" class="experiences-section section">
            {% include 'experiences.html' %}
        </section><!--//section-->
        
        <section id="education-section" class="education-section section">
            {% include 'education.html' %}
        </section><!--//section-->
        
        <section id="skills-section" class="skills-section section text-center">
            <h2 class="section-title">Professional Skills</h2>

            <div class="top-skills">
                {% include 'top-skills.html' %}
            </div><!--//top-skills-->
            
            <div class="other-skills">
                <h3 class="subtitle">Other Skills</h3>
                <div class="misc-skills">
                    {% for skill in active_user.profile.other_skills %}
                        <span class="skill-tag">{{ skill.title }}</span>
                        {% if forloop.counter|divisibleby:5 %}<br />{% endif %}
                    {% endfor %}
                </div>
            </div><!--//other-skills-->
        </section><!--//skills-section-->
        
        <section id="contact-section" class="contact-section section">
            <h2 class="section-title">Get in Touch</h2>
            <div class="intro">
                <img class="profile-image" src="{% static 'img/avatar.png' %}" alt="">
                <div class="dialog">
                    <p>I'm currently taking on freelance work. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                    <p><strong>I can help with the following:</strong></p>
                    <ul class="list-unstyled service-list">
                        <li><i class="fa fa-check" aria-hidden="true"></i> App development with ReactJS</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Front-end development with AngularJS</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Back-end development with Django/Python</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> UI development</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> UX prototyping</li>
                    </ul>
                    <p>Drop me a line at <a href="mailto:someone@example.com">james.doe@website.com</a> or call me at <a href="tel:01234567890">0123 456 7890</a></p>

                    {% include 'social-icons.html' %}

                </div><!--//diaplog-->
            </div><!--//intro-->

        </section><!--//section-->
        
    </div><!--//wrapper-->
{% endblock container %}
