<ul class="social list-inline">
    {% if active_user.profile.linked_in_url %}
        <li>
            <a href="{{ active_user.profile.linked_in_url }}" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}
    {% if active_user.profile.stack_overflow_url %}
        <li>
            <a href="{{ active_user.profile.stack_overflow_url }}" target="_blank">
                <i class="fa fa-stack-overflow" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}
    {% if active_user.profile.twitter_url %}
        <li>
            <a href="{{ active_user.profile.twitter_url }}" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}
    {% if active_user.profile.google_plus_url %}
        <li>
            <a href="{{ active_user.profile.google_plus_url }}" target="_blank">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}
    {% if active_user.profile.github_url %}
        <li>
            <a href="{{ active_user.profile.github_url }}" target="_blank">
                <i class="fa fa-github-alt" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}
    {% if active_user.profile.skype_username %}
        <li>
            <a href="skype:{{ active_user.profile.skype_username }}?chat">
                <i class="fa fa-skype" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}
</ul><!--//social-->
