<h3 class="subtitle">Top Skills</h3>
<div class="row">
    {% for skill in active_user.profile.top_skills.all %}
        <div class="item col-xs-12 col-sm-4">
            <div class="item-inner">
                <div class="chart-easy-pie text-center">
                    <div class="chart-theme-1 chart" data-percent="{{ skill.percent }}">
                        <span>{{ skill.percent }}</span>%
                        <canvas height="110" width="110"></canvas>
                        <canvas height="110" width="110"></canvas>
                        <canvas height="110" width="110"></canvas>
                        <canvas height="110" width="110"></canvas>
                        <canvas height="110" width="110"></canvas>
                    </div>
                </div>
                <h4 class="skill-name">{{ skill.title }}</h4>
                <div class="level">{{ skill.get_level_display }}, {{ skill.duration }} years</div>
                <div class="desc">{{ skill.description }}</div>
            </div><!--//item-inner-->
        </div><!--//item-->
    {% endfor %}
</div><!--//row-->
